<!DOCTYPE html>
<html lang="en">

	<head>

	    <meta name="viewport" content="width=device-width initial-scale=1">
	    
	    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/styles.css')}}">
	    
	    <title>Networks Programming Second Homework</title>

	</head>

	<body>

	    	<script type="text/javascript" src="{{url_for('.static', filename='js/jquery.min.js')}}"></script>
	    	<script type="text/javascript" src="{{url_for('.static', filename='js/bootstrap.bundle.min.js')}}"></script>
	    

		<div class="col-6 col-md-4">
		
				<h2>Hello {{name}}</h2>
				<h2>Thanks for applying</h2>
				<h3>Courses will be added soon.</h3>

			<footer>
				<p>Networks Programming Second Homework</p>
			</footer>
					
		</div>

	</body>
</html>
